* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  background-color: #eee;
  display: flex;
  justify-content: center;
}


body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1rem;
}

table {
  border-spacing: 0;
  border-collapse: separate;

  caption {
    font-size: .9rem;
    font-style: italic;
    padding: 5px;
  }
}

td, th {
  border-bottom: darkred 1px solid;
  padding: 10px;
}

th {
  font-size: 1rem;
  font-weight: bold;
}


@media screen and (min-width: 20em) {
  table {
    border-collapse: collapse;
    border-spacing: 0;
    caption-side: bottom;
    empty-cells: hide;
    font-feature-settings: "tnum";
  }

  .chart {
    height: 60vh;
    width: 40vw;
    display: grid;
    grid-template-areas: "content" "xAxis" "title";
  }


  //table {
  //  padding: calc(24em - 2rem) 0 1rem;
  //}

  //table::after {
  //  --scale: calc(100% / var(--y));
  //  //background-image: repeating-linear-gradient(
  //  //                to bottom,
  //  //                white,
  //  //                white var(--scale),
  //  //                rgba(0, 0, 0, .25) calc(var(--scale) + .25rem)
  //
  //  //);
  //}


  table.chart {
    caption {
      grid-area: title;
    }

    tbody tr {
      display: grid;
      grid-auto-columns: 1fr;
      grid-template-rows: repeat(var(--y), 1fr);
      grid-column-gap: 5px;

      /* Generate background guides */
      /* (sub-pixel rounding errors make this imperfect) */
      --line-every: 50;
      background-image: linear-gradient(to bottom, #ccc 1px, transparent 1px);
      background-size: 100% calc((100% - 1.4rem) / var(--y) * var(--line-every));
    }

    thead {
      grid-area: xAxis;

      tr {
        display: grid;

        th {
          display: flex;
          grid-row: -2 / span 1;
          justify-content: center;
          border-bottom: none;
          padding: 5px;
        }
      }
    }


    .effectif td {
      --start: calc(var(--y) + 1 - var(--value));
      grid-row-start: var(--start);
      //grid-row-start: var(--value);
      grid-row-end: -2;
      background-color: darkred;
      border-radius: 5px 5px 0 0;
      text-align: center;
      span {
        font-weight: bolder;
        color: #eeeeee;
        font-size: .9rem;
      }
    }

    th.headername {
      display: none;
    }
  }

  //th,
  //td {
  //  //border: 0;
  //  padding: 10px;
  //}

  /*hide for now*/
  table.chart tbody tr.ca {
    display: none;
  }

}

